.logo {
  width: 94px;
  height: 40px;
  background: url('/images/sp-kr.png') no-repeat;
  background-size: 600px 900px;
  background-position: -9px -10px;
  display: block;
  text-indent: -9999px;
}

.topic {
  width: 54px;
  height: 22px;
  margin-bottom: 4px;
  margin-left: 8px;
  font-size: 0;
  line-height: 0;
  background: url('/images/sp-kr.png') no-repeat;
  background-size: 600px 900px;
  background-position: -112px -28px;
  display: inline-block;
  overflow: hidden;
  text-indent: -999em;
}
